<section>
    <div class="container">
        <table class="table mt-5">
            <thread>
                <tr>
                    <th scope="col">Item</th>
                      <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                </tr>
            </thread>
            <tbody>
            {{#each products}}
                <tr>
                    <td><img style="width:70px;height:70px" src="/product-images/{{this._id}}"></td>
                    <td> {{this.Title}} </td>
                    <td><button class="cart-item-count mr-3">-</button>1<button class="cart-item-count mr-3">+
                        
                    </button></td>

                    <td><a href="" class="btn btn-danger">Remove</a> </td>

                 </tr>
                 {{/each}}
            </tbody>
        </table>
    </div>
</section>