<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
     <center><h2>Create new Account</h2></center> 
<form action="/signup" method="post">
  <div class="form-group">
       <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="exampleInputPassword1" name="Name">
  </div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="Email"  aria-describedby="emailHelp" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="Password" placeholder="password" >
  </div> 
  
  <a href="/login">Already have an account</a>
  <button type="submit" class="btn btn-primary float-right">signup </button>
</form>
</div>
</div>
</div>
